@font-family: 'Cormorant', serif;
@font-family: 'Orbitron', sans-serif;
@font-family: 'Poiret One', cursive;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  /* max-width: 1440px; */
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  /* max-width: 1440px; */
}

.container {
  max-width: 85%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 1em; */
  column-gap: 1.5em;
  position: relative;
  border-bottom: 3px solid #ffd0e1;
}

.header__logo {
  z-index: 5;
  width: 7em;
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1em;
  column-gap: 4em;
  width: 70%;
}

.header__hamb {
  width: 3em;
  height: 3em;
  position: relative;
  z-index: 5;
  overflow: hidden;
  display: none;
}

.header__hamb span {
  width: 5em;
  height: 0.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #ffd0e1;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.5s;
}

.header__hamb span:nth-of-type(2) {
  top: calc(50% - 0.5em);
}

.header__hamb span:nth-of-type(3) {
  top: calc(50% + 0.5em);
}

.header__hamb.active span:first-of-type {
  opacity: 0.7;
  transform: translateX(+50%);
}

.header__hamb.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #f57ba7;
}

.header__hamb.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #f57ba7;
}

.header__menu-hidden {
  /* display: none; */
  position: absolute;
  top: 0;
  left: -15%;
  width: 105vw;
  height: 100vh;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.header__menu-hidden.active {
  transform: translate(0);
  transition: all 1s;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 4;
  width: 100vw;
}

.header__menu-hidden .header__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0 0 0;
}

.header__menu-hidden .header__nav a {
  font-size: 4em;
  gap: 3em;
  padding: 0.5em 0;
}

.header__menu-hidden .header__social {
  column-gap: 3em;
}

.header__nav,
.header__social {
  display: flex;
  flex-direction: row;
  column-gap: 1em;
  padding-bottom: 1em;
}

.header__nav-link {
  font-family: "Cormorant";
  font-weight: 500;
  font-size: 1.5em;
  align-items: center;
  color: #ffd0e1;
  padding: 0 0.5em;
  flex-wrap: nowrap;
  transition: all 0.4s;
}

.header__nav-link:hover,
.header__social-link:hover {
  opacity: 0.5;
  transition: all 0.4s;
}

.header__social {
  padding-top: 1em;
}

/*MAIN*/
.main {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/background-main.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
}

.main__content {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  align-items: flex-start;
  justify-content: space-around;
  height: 70vh;
  margin-top: 1em;
}

.main__title {
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 2.5em;
  line-height: 175%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffd0e1;
  text-shadow: 3px 6px 9px #000;
}

.main__buttons-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
}

.main__button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* box-shadow: #F196B7 5px 5px 5px; */
  box-shadow: #968095 5px 5px 5px;
  border-radius: 0.4em;
  position: relative;
  width: 15em;
  transition: all 0.4s;
}

.main__button-text {
  font-family: "Cormorant";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #ffd0e1;
  padding: 0.4em;
  letter-spacing: 0.1em;
  column-gap: 0.3em;
  z-index: 3;
  display: flex;
  align-items: center;
}

.main__button::after {
  content: "";
  filter: blur(1px);
  position: absolute;
  background-image: url(../img/background-button-main.png);
  opacity: 0.8;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.main__button:hover {
  box-shadow: #968095 1px 1px 1px;
  opacity: 0.7;
  transition: all 0.4s;
}

/* HISTORY */
.history {
  background-image: url(../img/background-history.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 2em 0;
  background-color: #ffd0e1;
  background-attachment: fixed;
}

.history__desc {
  font-family: "Poiret One";
  font-weight: 400;
  font-size: 1.2em;
  text-align: justify;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #000000;
  padding: 0.5em 0;
  line-height: 1.5em;
}

/* DESERTS */

.desert {
  background-image: url(../img/background-desert.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 2em 0;
  background-color: #7be9e9;
  background-attachment: fixed;
}

.desert__title,
.contacts__title {
  font-family: "Cormorant";
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: 0.15em;
  text-align: center;
  text-transform: uppercase;
  color: #00a8a6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 0 1em;
}

.desert__title::after,
.desert__title::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #1ec9ac;
}

.desert__card-block {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.desert__card {
  border-radius: 1em;
  width: 17em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.2em;
  position: relative;
  box-shadow: #000 0.5em 0.5em 1.2em;
}

.desert__card:after {
  content: "";
  filter: blur(1px);
  position: absolute;
  background-image: url(../img/noise.png);
  mix-blend-mode: multiply;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

.desert__card-img {
  width: 80%;
  border-radius: 7em;
  overflow: hidden;
  z-index: 3;
  display: block;
  position: relative;
  margin-top: 1em;
}

.desert__card-tastes {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 1em;
  margin: 0.5em 0;
}

.desert__card-tastes img {
  width: 3em;
  height: 3em;
  background-color: #000;
  border-radius: 2em 0;
  z-index: 3;
}

.desert__card-title {
  font-family: "Cormorant";
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000;
  z-index: 3;
}

.desert__card-title:after {
  content: "";
  width: 15em;
  height: 2px;
  background-color: #000;
  display: block;
  margin: 0 auto;
}

.desert__card-desc {
  font-family: "Cormorant";
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  text-align: justify;
  color: #000;
  z-index: 3;
  padding: 0.5em;
}

/* CONTACTS */
.contacts {
  background-image: url(../img/background-ordered.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 2em 0;
  background-color: #ffd0e1;
  background-attachment: fixed;
}

.contacts__title {
  color: #f196b7;
}

.contacts__title::after,
.contacts__title::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #f196b7;
}

.contacts__block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  gap: 3em 1em;
}

.contacts__text,
.contacts__notes {
  font-family: "Poiret One";
  font-weight: 600;
  font-size: 2em;
  letter-spacing: 0.15em;
  color: #f57ba7;
}

.contacts__notes {
  font-size: 1.2em;
  text-align: justify;
  padding-top: 2em;
}

.contacts__btn-phone {
  font-family: "Poiret One";
  font-weight: 600;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  text-transform: lowercase;
  color: #f57ba7;
  justify-self: end;
  align-self: center;
  position: relative;
  padding: 0.2em;
  box-shadow: #f196b7 5px 5px 5px;
  border-radius: 0.3em;
  width: 35vw;
  transition: all 0.4s;
}

.contacts__btn-phone::after,
.contacts__social-link::after {
  content: "";
  filter: blur(2px);
  position: absolute;
  background-image: url(../img/background-button-main.png);
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0;
  border-radius: 0.3em;
}

.contacts__btn-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0.2em;
  column-gap: 1em;
  justify-self: end;
  width: 35vw;
}

.contacts__social-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 11em;
  border-radius: 0.4em;
  padding: 0.2em;
  box-shadow: #f196b7 5px 5px 5px;
  transition: all 0.4s;
}

.contacts__btn-phone:hover,
.contacts__social-link:hover {
  box-shadow: #f196b7 1px 1px 1px;
  opacity: 0.8;
  transition: all 0.4s;
}

.contacts__btn-phone::after:hover {
}

/* FOOTER */
.footer {
  margin-top: 2em;
}

.footer__desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 3px solid #f196b7;
  padding-top: 1.2em;
}

.footer__block-logo,
.footer__block-contacts {
  display: flex;
  align-items: center;
}

.footer__logo-text {
  font-family: "Orbitron";
  font-weight: 400;
  font-size: 1.2em;
  color: #000000;
  text-align: start;
}

.footer__logo-img {
  width: 4em;
}

.footer__block-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}

.footer__social-icon {
  width: 3em;
  height: 3em;
  padding: 0.3em 0.3em 0 0.3em;
  box-shadow: #f196b7 5px 5px 5px;
  border-radius: 2em;
  transition: all 0.4s;
}

.footer__social-icon:first-of-type {
  padding: 0.3em 0.3em 0 0.8em;
}

.footer__social-icon:hover {
  box-shadow: #f196b7 1px 1px 1px;
  opacity: 0.8;
  transition: all 0.4s;
}

/* STICKY */

.sticky__block {
  position: fixed;
  bottom: 7em;
  right: 2%;
}

.sticky__btn {
  background-color: inherit;
  cursor: pointer;
  position: fixed;
  bottom: 5em;
  right: 2%;
  transition: all 1s;
  z-index: 3;
  width: 3em;
}

.sticky__btn.active {
  transform: rotate(180deg);
  transition: all 1s;
  z-index: 3;
}

.sticky__btn svg {
  width: 3em;
}

.sticky__btn:hover svg,
.sticky__dropdown-item:hover svg {
  width: 3.3em;
  transition: all 0.8s;
}

.sticky__dropdown-menu {
  transform: translateY(175%);
  transition: 0.7s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  visibility: hidden;
}

.sticky__dropdown-menu li {
  width: 3em;
  border-radius: 3em;
  backdrop-filter: blur(2px);
}

.sticky__dropdown-item svg {
  width: 3em;
}

.sticky__dropdown-menu.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  transform: translateY(-20%);
  transition: ease-out 0.7s;
  visibility: visible;
}

@media (max-width: 1199px) {
  .main__title {
    padding: 0;
  }
  .header__menu {
    width: 77%;
  }
  .contacts__btn-phone,
  .contacts__btn-links {
    width: 40vw;
  }
}

@media (max-width: 991px) {
  .header__menu {
    flex-direction: column;
  }
  .header__nav,
  .header__social {
    justify-content: space-evenly;
    width: 80%;
  }
  .contacts__btn-phone,
  .contacts__btn-links {
    width: 50vw;
  }
}

@media (max-width: 767px) {
  .header__menu {
    display: none;
  }
  .header__hamb {
    display: block;
  }
  .main__buttons-block {
    flex-direction: column;
  }
  .main__content {
    align-items: center;
  }
  .main__title {
    font-size: 1.9em;
    padding: 0;
  }
  .main__buttons-block {
    flex-direction: column;
  }
  .contacts__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts__btn-phone,
  .contacts__btn-links {
    margin-bottom: 1em;
    width: 60vw;
    font-size: 1.8em;
  }
  .footer__desc {
    flex-direction: column;
  }
  .footer__block-logo {
    margin-bottom: 1em;
  }
  .footer__block-social {
    width: 90%;
    justify-content: space-between;
  }
}
@media (max-width: 575px) {
  .main__title {
    font-size: 1.5em;
    padding: 0;
  }

  .main__button-text {
    font-size: 1.2em;
  }
  .contacts__btn-phone {
    font-size: 1.2em;
  }
}

@media (max-width: 415px) {
  .contacts__btn-phone {
    font-size: 1em;
  }
}

/* .sticky__dropdown-menu.active li {
  transition: all 1s;
} */

/* .sticky__btn-hidden {
  border-radius: 2em;
  width: 3em;
  height: 3em;
}

.sticky__btn-hidden:first-of-type {
  background-image: url(../img/icon/icon-instagram-sticky.svg);
  background-repeat: no-repeat;
}

.sticky__btn-hidden:nth-of-type(2) {
  background-image: url(../img/icon/icon-viber-sticky.svg);
  background-repeat: no-repeat;
}

.sticky__btn-hidden:nth-of-type(3) {
  background-image: url(../img/icon/icon-phone-sticky.svg);
  background-repeat: no-repeat;
} */
